* {
    box-sizing: border-box;

    &:before, &:after {
        box-sizing: border-box;
    }
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font: $main-font;
    color: $text-color;
    background-color: $white;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
}

a {
    text-decoration: none;
    color: $black;
    transition: $trs;
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container1 {
    max-width: 1450px;
    margin: 0 auto;
}