.media {
    padding: 30px 0;
    background: $black;

    &__wrap {
        position: relative;
        overflow: hidden;
        height: 100%;
        min-height: 550px;
        margin: 0 20px;

        img {
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: brightness(60%);
        }
    }

    &__info {
        position: absolute;
        text-align: center;
        top: 234%;
        left: 49%;
        transform: translateX(-50%) translateY(-50%);
        padding: 10px;
        width: 52%; 

        h1 {
            color: $white;
            font-size: 30px;
            font-weight: 400;
            margin: 10px 0;
        }

        a {
            color: $white;
            font-size: 18px;
            font-weight: 400;
            position: relative;

            &:before {
                position: absolute;
                content: '';
                left: 0;
                bottom: -3px;
                width: 0;
                height: 2px;
                background-color: $red;
                transition: $trs;
            }

            &:hover::before {
                width: 50%;
            }

            &:after {
                position: absolute;
                content: '';
                right: 0;
                bottom: -3px;
                width: 0;
                height: 2px;
                background-color: $red;
                transition: $trs;
            }

            &:hover::after {
                width: 50%;
            }
        }
    }
}

@media(max-width: 1024px) {
    .media__wrap {
        min-height: 400px;

        img {
            height: 400px !important;
        }
    }

    .media__info {
        top: 240%;
    }
}