.projects {
    padding: 30px 0 50px;
    background-color: $white;

    &__wrap {
        min-height: 70vh;
        display: block;
        position: relative;
    }

    &__title {
        position: relative;
        text-align: left;
        margin: 30px 0;
        font-size: 20px;
        color: $black;

        span {
            padding: 0 10px;
        }

        &::after {
            content: " ";
            position: absolute;
            bottom: 45%;
            left: 25%;
            right: 1%;
            border-top: 2px solid $red;
        }
    }

    &__card {
        background-color: $white;
        position: relative;
        width: 100%;
        padding: 20px;
        z-index: 1;
        border: 1px solid rgba($black, 0.1);
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);

        &-body {
            padding: 15px;
            text-align: left;

            h2 {
                font-size: 30px;
                font-weight: 500;
            }
        }

        &-media {
            width: 100%;
            height: 100%;
        }
    }

}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 377px;
    object-fit: cover;
    filter: brightness(30%);
    transition: $trs;

        &:hover {
            filter: brightness(100%);
        }
}

.swiper-pagination {
    bottom: -5% !important;
    position: relative !important;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: $red !important;
}  

@media(max-width: 1024px) {
    .projects {
        padding: 0 25px;
    }
}

@media(max-width: 768px) {
    .projects__title::after {
        left: 28%;
    }
}