@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 400 18px/1.6 "Montserrat", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.9);
  background-color: #fff;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container1 {
  max-width: 1450px;
  margin: 0 auto;
}

.btn {
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  height: 55px;
  border-radius: 10px 5px;
  padding: 5px 30px;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.39);
  border: 1px solid #404040;
  color: #000;
  background-color: transparent;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #404040;
  color: #fff;
}

.header {
  padding-bottom: 30px;
  z-index: 9999;
  background-color: #000;
  background: url(https://i.pinimg.com/originals/f9/18/89/f91889a6170a3a9553ec253156a11db1.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  transition: all 0.9s ease;
  animation: expand 0.9s ease forwards;
}
.header__wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.header__content h1 {
  margin: 0;
}
.header__content hgroup {
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.5em 3em;
}

@keyframes expand {
  0% {
    transform: translateX(1500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.hero {
  padding: 30px 0;
  background: #000;
}
.hero__wrap {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
.hero__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 12%;
  background-color: #000;
  animation: navbar 3s linear;
}
.hero__nav-list {
  display: flex;
}
.hero__nav-item {
  padding: 0 25px;
}
.hero__nav-item-link {
  position: relative;
  color: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.hero__nav-item-link:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #c3002f;
  transition: all 0.3s;
}
.hero__nav-item-link:hover::before {
  width: 50%;
}
.hero__nav-item-link:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #c3002f;
  transition: all 0.3s;
}
.hero__nav-item-link:hover::after {
  width: 50%;
}
.hero__logo {
  margin: 10px 0;
}
.hero__logo-link {
  display: block;
  position: relative;
  overflow: hidden;
}
.hero__logo-title {
  color: #fff;
  font-size: 25px;
}
.hero__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  opacity: 0;
  animation: animation01 2s forwards;
  animation-delay: 2s;
}
.hero__info-title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 400;
  color: #c3002f;
}
.hero__info-title span {
  font-weight: 600 !important;
}
.hero__info-descr {
  margin-bottom: 30px;
  font-size: 15px;
  color: #c3002f;
}
.hero__socials {
  position: absolute;
  right: 5%;
  top: 145%;
}
.hero__socials svg {
  width: 25px;
  display: block;
  margin: 25px 5px;
  color: #fff;
  transition: all 0.3s;
}
.hero__socials svg:hover {
  transform: scale(1.2);
  color: #c3002f;
}

@keyframes animation01 {
  0% {
    left: 0;
    top: 0;
    opacity: 0;
  }
  100% {
    left: 190px;
    top: 0;
    opacity: 1;
  }
}
@keyframes navbar {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.media {
  padding: 30px 0;
  background: #000;
}
.media__wrap {
  position: relative;
  overflow: hidden;
  height: 100%;
  min-height: 550px;
  margin: 0 20px;
}
.media__wrap img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}
.media__info {
  position: absolute;
  text-align: center;
  top: 245%;
  left: 49%;
  transform: translateX(-50%) translateY(-50%);
  padding: 10px;
  width: 52%;
}
.media__info h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  margin: 10px 0;
}
.media__info a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.media__info a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #c3002f;
  transition: all 0.3s;
}
.media__info a:hover::before {
  width: 50%;
}
.media__info a:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #c3002f;
  transition: all 0.3s;
}
.media__info a:hover::after {
  width: 50%;
}

.projects {
  padding: 30px 0 50px;
  background-color: #fff;
}
.projects__wrap {
  min-height: 70vh;
  display: block;
  position: relative;
}
.projects__title {
  position: relative;
  text-align: left;
  margin: 30px 0;
  font-size: 20px;
  color: #000;
}
.projects__title span {
  padding: 0 10px;
}
.projects__title::after {
  content: " ";
  position: absolute;
  bottom: 45%;
  left: 25%;
  right: 1%;
  border-top: 2px solid #c3002f;
}
.projects__card {
  background-color: #fff;
  position: relative;
  width: 100%;
  padding: 20px;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}
.projects__card-body {
  padding: 15px;
  text-align: left;
}
.projects__card-body h2 {
  font-size: 30px;
  font-weight: 500;
}
.projects__card-media {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 377px;
  object-fit: cover;
  filter: brightness(30%);
  transition: all 0.3s;
}
.swiper-slide img:hover {
  filter: brightness(100%);
}

.swiper-pagination {
  bottom: -5% !important;
  position: relative !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #c3002f !important;
}

.media1 {
  padding: 30px 0;
  background: #000;
}
.media1__wrap {
  position: relative;
  overflow: hidden;
  height: 100%;
  min-height: 550px;
  margin: 0 20px;
}
.media1__wrap img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}
.media1__info {
  position: absolute;
  text-align: center;
  top: 437%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 10px;
  width: 65%;
}
.media1__info h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  margin: 10px 0;
}
.media1__info a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.media1__info a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #c3002f;
  transition: all 0.3s;
}
.media1__info a:hover::before {
  width: 50%;
}
.media1__info a:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #c3002f;
  transition: all 0.3s;
}
.media1__info a:hover::after {
  width: 50%;
}

.news {
  padding: 30px 0 50px;
  background: #fff;
}
.news__wrap {
  max-width: 1140px;
  margin: 0 auto;
  display: block;
}
.news__title {
  position: relative;
  text-align: left;
  margin: 30px 0 55px;
  font-size: 20px;
  color: #000;
}
.news__title span {
  padding: 0 10px;
}
.news__title::after {
  content: " ";
  position: absolute;
  bottom: 45%;
  left: 25%;
  right: 1%;
  border-top: 2px solid #c3002f;
}
.news__row {
  display: flex;
  align-items: center;
}
.news__thumb-box {
  display: flex;
  position: relative;
  width: 33.3333%;
  margin: 0 15px;
}
.news__thumb-box a {
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.news__thumb-box img {
  width: 100%;
  height: 280px;
}
.news__overlay-box {
  position: absolute;
  color: #fff;
  bottom: 0;
  width: 100%;
  z-index: 9998;
  left: 0;
  padding: 5%;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.75));
}
.news__overlay-box:hover {
  background-image: linear-gradient(to bottom, transparent, black);
}
.news__meta {
  font-size: 12px;
  display: block;
}
.news__main-title {
  font-size: 15px;
  display: block;
  font-weight: 500;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.news__descr {
  font-size: 13px;
  margin-top: 5px;
  display: block;
  color: #fff;
  max-height: 5px;
  overflow: hidden;
  transition: opacity 0.4s ease-out, max-height 0.4s ease-out, margin 0.4s;
}
.news__descr:hover {
  opacity: 1;
  max-height: 100px;
  margin-top: 5px;
  transition: opacity 0.4s ease-out, max-height 0.9s ease-out;
}

.footer {
  padding-top: 30px;
  background: #000;
}
.footer__wrap {
  margin: 0 auto;
  width: 1000px;
}
.footer__logo {
  z-index: 1;
  line-height: 0;
  text-align: center;
}
.footer__logo-link {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.footer__socials {
  position: relative;
  width: 100%;
  text-align: center !important;
}
.footer__links {
  display: block;
  padding: 0;
  margin: 20px 0;
  text-align: center;
}
.footer__links li {
  display: inline-block;
  padding: 0 20px;
  transition: all 0.3s;
}
.footer__links li svg {
  color: #fff;
}
.footer__links li svg:hover {
  color: #c3002f;
}
.footer__info {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.footer__info li {
  padding: 0 30px;
}
.footer__info h2 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.3s;
}
.footer__info h2:hover {
  color: #c3002f;
}
.footer__end {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.footer__end p {
  color: #fff;
  font-size: 12px;
  padding: 17px 0;
}

.partners {
  padding-top: 20px;
}
.partners__wrap {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
.partners__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 12%;
  background-color: #000;
}
.partners__nav-list {
  display: flex;
}
.partners__nav-item {
  padding: 0 25px;
}
.partners__nav-item-link {
  position: relative;
  color: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.partners__nav-item-link:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #c3002f;
  transition: all 0.3s;
}
.partners__nav-item-link:hover::before {
  width: 50%;
}
.partners__nav-item-link:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #c3002f;
  transition: all 0.3s;
}
.partners__nav-item-link:hover::after {
  width: 50%;
}
.partners__logo {
  margin: 10px 0;
}
.partners__logo-link {
  display: block;
  position: relative;
  overflow: hidden;
}
.partners__logo-title {
  color: #fff;
  font-size: 25px;
}
.partners__info {
  padding: 50px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  opacity: 0;
  animation: animation01 2s forwards;
  animation-delay: 1s;
}
.partners__info-title {
  padding-top: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #000;
}
.partners__info-title span {
  padding: 0 10px;
}
.partners__info-title::after {
  content: " ";
  position: absolute;
  max-width: 900px;
  bottom: 47%;
  left: 15%;
  right: 1%;
  border-top: 2px solid #c3002f;
}
.partners__info-descr {
  margin-bottom: 30px;
  font-size: 20px;
  color: #000;
}
.partners__socials {
  position: absolute;
  right: 2%;
  top: 55%;
}
.partners__socials svg {
  width: 25px;
  display: block;
  margin: 25px 5px;
  color: #c3002f;
  transition: all 0.3s;
}
.partners__socials svg:hover {
  transform: scale(1.2);
  color: #fff;
}
.partners__block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #000;
}
.partners__box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 4rem;
}
.partners__box:hover .partners__imgBox {
  transform: translate(-3.5rem, -3.5rem);
}
.partners__box:hover .partners__content {
  transform: translate(3.5rem, 3.5rem);
}
.partners__imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}
.partners__imgBox img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  resize: both;
}
.partners__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  background-color: #c3002f;
  z-index: 1;
  align-items: flex-end;
  text-align: center;
  transition: 0.5s ease-in-out;
}
.partners__content h2 {
  display: block;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}
.partners__content span {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

@keyframes animation01 {
  0% {
    left: 0;
    top: 0;
    opacity: 0;
  }
  100% {
    left: 190px;
    top: 0;
    opacity: 1;
  }
}
.media2 {
  padding: 30px 0;
  background: #fff;
}
.media2__wrap {
  position: relative;
  overflow: hidden;
  height: 100%;
  min-height: 550px;
  margin: 0 20px;
}
.media2__wrap img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(66%);
}

.about {
  padding: 30px 0;
  padding-top: 20px;
}
.about__wrap {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
.about__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 12%;
  background-color: #000;
}
.about__nav-list {
  display: flex;
}
.about__nav-item {
  padding: 0 25px;
}
.about__nav-item-link {
  position: relative;
  color: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.about__nav-item-link:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #c3002f;
  transition: all 0.3s;
}
.about__nav-item-link:hover::before {
  width: 50%;
}
.about__nav-item-link:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #c3002f;
  transition: all 0.3s;
}
.about__nav-item-link:hover::after {
  width: 50%;
}
.about__logo {
  margin: 10px 0;
}
.about__logo-link {
  display: block;
  position: relative;
  overflow: hidden;
}
.about__logo-title {
  color: #fff;
  font-size: 25px;
}
.about__info {
  padding: 50px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  opacity: 0;
  animation: animation01 2s forwards;
  animation-delay: 1s;
}
.about__info-title {
  padding-top: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #000;
}
.about__info-title span {
  padding: 0 10px;
}
.about__info-title::after {
  content: " ";
  position: absolute;
  max-width: 900px;
  bottom: 30%;
  left: 15%;
  right: 1%;
  border-top: 2px solid #c3002f;
}
.about__block {
  text-align: center;
  padding: 20px 0;
}
.about__media h3 {
  display: inline-block;
  padding: 0 280px;
}
.about__gallery {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: 400px;
  grid-auto-flow: dense;
  padding: 0;
  margin: 0 0 20px 0;
}
.about__gallery li {
  overflow: hidden;
}
.about__gallery li img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  display: block;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  transform: scale(1.5);
  filter: grayscale(100%);
}
.about__gallery li img:hover {
  filter: none;
  transform: scale(1);
}
.about__socials {
  position: absolute;
  right: 2%;
  top: 43%;
}
.about__socials svg {
  width: 25px;
  display: block;
  margin: 25px 5px;
  color: #c3002f;
  transition: all 0.3s;
}
.about__socials svg:hover {
  transform: scale(1.2);
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
